{% load app_class %}
<ul class="nav">
	<li class="nav-header">Navigation</li>
	<li class="has-sub">
		<a href="#">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-laptop"></i>
		    <span>Home</span> 
		</a>
		<ul class="sub-menu">
			<li><a href="{% url 'afyachat_dashboard' %}">Afyachat Dashboard</a></li>
			<li><a href="{% url 'hiv_dashboard' %}">HIV Dashboard</a></li>
		</ul>
	</li>

	<li class="has-sub">
		<a href="#">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-database"></i>
		    <span>Data Management</span> 
		</a>
		<ul class="sub-menu">
			<li><a href="{% url 'afyachat_download' %}">Download Afyachat Data</a></li>
			<li><a href="{% url 'hiv_download' %}">Download Hiv Data</a></li>
		</ul>
	</li>	
	
    <!-- begin sidebar minify button -->
	<li><a href="#" class="sidebar-minify-btn" data-click="sidebar-minify">
	    <i class="fa fa-angle-double-left"></i></a>
	</li>
    <!-- end sidebar minify button -->
</ul>
