 {% extends 'base.html' %}

{% load staticfiles %}

{% block page_title %} Documents Manager {% endblock %}

{% block style_code %}
<link href="{% static 'css/jquery.fileupload.css' %}" rel="stylesheet" />
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Download</li>
</ol>
<!-- end breadcrumb -->

<!-- begin page-header -->
<h1 class="page-header">Download <small>Download Afyachat Data</small></h1>
<!-- end page-header -->
<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <p class="invalid-form-message"></p>
</div>

<!-- begin Search Row -->
<div class="row">

    <!-- begin col-md-12 -->
    <div class="col-md-12">

        <!-- begin panel panel-inverse -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>                          
                <h4 class="panel-title"><b>Download Form</b></h4>
            </div>
            <!-- begin panel-body #1 -->
            <div class="panel-body">
                <form class="form-inline" action="." method="POST" data-parsley-validate="true">
                    {% csrf_token %}
                    <span>
                    <h6>This tool helps you download your data by default to a folder in the desktop named <b>DATA</b>.</h6>
                    <br>
                    <h6>Path: <b>/home/administrator/Desktop/DATA/</b>.</h6>
                    <br>
                    <h6>Future versions of this software will download to a custom directory/folder eg USB.</h6>
                    </span>

                    <br>

                    {{ form.download_path }}
                    
                    <button type="submit" class="btn btn-sm btn-primary m-r-5">
                        <i class="fa fa-download"></i>&nbsp;&nbsp;<b>Download</b>
                    </button>
                </form>
            </div>
            <!-- end panel-body #1-->
    </div> 
    <!-- end panel panel-inverse -->
    </div> 
    <!-- begin col-md-12 -->
</div>
<!-- end Search Row -->

{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}


{% endblock %}
<!-- End content area -->

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>
<script src="{% static 'js/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/jquery.fileupload-process.js' %}"></script>
<script type="text/javascript">
/*
// Check for the various File API support.
if (window.File && window.FileReader && window.FileList && window.Blob)
{
    function readSingleFile(evt)
    {
        //Retrieve the first (and only!) File from the FileList object
        var f = evt.target.files[0]; 

        if (f)
        {
            var r = new FileReader();
            r.onload = function(e)
            { 
                var contents = e.target.result;
                alert( "Got the file.n" 
                +"name: " + f.name + "n"
                +"type: " + f.type + "n"
                +"size: " + f.size + " bytesn"
                + "starts with: " + contents.substr(1, contents.indexOf("n"))
                );  
            }
            r.readAsText(f);
        } 
        else 
        { 
          alert("Failed to load file");
        }
    }

    document.getElementById('file_browser').addEventListener('change', readSingleFile, false);
    
    // #file_browser change() event
    $('#file_browser').change(function()
    {
        //Get FileName
        var filename = $('input[type=file]').val();
        $('#file_name').val(filename);

        //Read Content
        readSingleFile(false);
    });
    
}
else
{
  alert('The File APIs are not fully supported by your browser.');
}
*/
// #file_browser change() event
$('#file_browser').change(function()
{
    //Get FileName
    var filename = $('input[type=file]').val();
    $('#file_name').val(filename);
});
</script>
<script>
$(document).ready(function() 
{
    $('#data-table').bootstrapTable(
    { 
        toggle: 'table', 
        search: 'true',
        locale: 'en-US',
        pagination: 'true',
        pageNumber: 1,
        pageSize: 10,
        //showRefresh: true,
        showToggle: true,
        //showColumns: true,
        singleSelect: true,
        clickToSelect:true,
        maintainSelected: true,

        onClickRow: function (row, $element)
        {
            $('#person').val(row[1]);
            var checked;

            $('#data-table tr').each(function(row, tr)
            {
                var id = $(tr).find('td:eq(1)').text();
                checked = $(tr).find('input[type="checkbox"]').is(':checked');
            });

            if(!checked)
            {                     
                $('#div_generate_documents').css({'display': 'block'});
            }
            if(checked)
            {
                $('#div_generate_documents').css({'display': 'none'});
            }
        }
        
    });
});
</script>
{% endblock %}
